* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    height: 100vh;
}

nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 4px 0 0 #051875;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}

nav.menu-lateral.expandir {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
}

.btn-expandir>i {
    color: white;
    font-size: 34px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #051875;

}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 25px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu:hover {
    background: #051875;
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .6s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}



header {
    margin-bottom: 50px;
    /* Espaço abaixo do cabeçalho */
    background-color: #031050;
    /* Cor de fundo azul escuro */
    box-shadow: 0px 3px 10px hsl(234, 97%, 37%);
    /* Sombra embaixo do cabeçalho */
}



.nav-bar {
    display: flex;
    /* Usa Flexbox para alinhar os itens horizontalmente */
    justify-content: space-between;
    /* Espaço igual entre os elementos */
    padding: 1.5rem 6rem;
    /* Espaçamento interno acima/abaixo e esquerda/direita */
    padding-left: 100px;
}


.copy {
    margin: 10% 0 0 30%;
    font-weight: bold;
    transform: translateX(15%);
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
}


.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #a70101;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
}

.submenu-mesa {
    max-height: 0;
    overflow: hidden;
    transition:  0.4s ease;
    padding-left: 24px;
}

/* Links do submenu */
.submenu-mesa li a {
    font-size: 14px;
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    transition: .3s;
}

.submenu-mesa li a:hover {
    color: orange;
}

/* Ícone clicável */
.submenu-toggle-mesa {
    cursor: pointer;
    margin-left: 8px;
    font-size: 30px;
    color: #ddd;
    margin-left: 15px;
}

.submenu-toggle-mesa:hover {
    color: orange;
}




.submenu-tcc {
    max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding-left: 24px;
}

.submenu-tcc li a {
  font-size: 14px;
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 5px 0;
  transition: .3s;
}

.submenu-tcc li a:hover {
    color: orange;
}

.submenu-toggle-tcc {
    cursor: pointer;
    margin-left: 15px;
    font-size: 30px;
    color: #ddd;
}

.submenu-toggle-tcc:hover {
  color: orange;
}



/* Estilo do botão */
.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #444;
  padding: 10px;
  position: fixed;
  transition: left 0.4s ease;
  z-index: 9999;
  margin-left: 7px;
  
}

/* Modo escuro: altera cor do ícone */
body.dark-mode .theme-toggle-btn {
    color: #f1f1f1;
}

/* Corpo do site */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

.theme-toggle-btn.expandido {
    left: 310px; /* move junto com a navbar expandida */
}
.textsuport {
    margin-left: 100px;
    
}
